doctype html
html
  head
    title Greeters Polska
    link(rel='stylesheet', href='/stylesheets/app.css' + cachebust)
    script(src='/javascripts/bundle.js' + cachebust)


    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/reload-client.js')

  body
    block content
    script.
      var _paq = _paq || [];
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);

      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.greeters.pl/";
        _paq.push(["setTrackerUrl", u+"piwik.php"]);
        _paq.push(["setSiteId", "3"]);
        var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
        g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
      })();
