@import "colors";

hr.fancy-line { 
    border: 0; 
    height: 1px;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    &:before {
      top: -0.5em;
      height: 1em;
      background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    }
    &:after {
      content:'';
      height: 0.5em;
      top: 1px;
      background: $light-gray;
    }
    &:before, &:after {
      content: '';
      position: absolute;
      width: 100%;
    }    
}