@import "vendor/bootstrap";
@import "greeters/colors";

@font-face {
    font-family:Author One;
    src: url('/fonts/AutourOne-Regular.otf');
}

body {
  font-family:Author One;
}

nav {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-top;
  border: none;
  .navbar-header img {
    margin-top: -30px;
    height: 75px;
    width: auto;
  }
  background-color: $fiolet;
  .container-fluid {
    margin: 0;
    .collapse {
      width: 100%;
    }
  }
  .navbar-nav {

    li a {
      color: white;
    }
    li.active a {
      background-color: $light-blue;
      &:hover {
        background-color: $light-blue;
      }
    }
  }
  
}

header {
  @extend .center-block;
  @extend .col-xs-12;
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    padding-top: 180px;
  }
  margin-bottom: 30px;
  padding-top: 50px;
  background-color: $blue;
  img {
    width: 100%;
    height: auto;
  }
}

#about, #who, #where, #signup, #questions, #about_us, #partners {
  @extend .col-xs-12;
}
.logo{
  height: 150px;
}