@import "vendor/bootstrap";
@import "greeters/colors";
@import "greeters/line";

@font-face {
    font-family:Author One;
    src: url('/fonts/AutourOne-Regular.otf');
}

body {
  font-family:Author One;
  background-color: $light-gray;
}

nav {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-top;
  border: none;
  .navbar-header img {
    margin-top: -30px;
    height: 75px;
    width: auto;
  }
  background-color: $fiolet;
  .container-fluid {
    margin: 0;
    .collapse {
      width: 100%;
    }
  }
  .navbar-nav {

    li a {
      color: white;
    }
    li a:hover {
      color: $medium-gray;
    }
    li.active a {
      background-color: $light-blue;
      &:hover {
        background-color: $light-blue;
      }
    }
  }
  
}

.btn-primary {
margin-top: 5px;
}

header {
  @extend .center-block;
  @extend .col-xs-12;
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    padding-top: 180px;
  }
  margin-bottom: 30px;
  padding-top: 50px;
  background-color: $blue;
  img {
    width: 100%;
    height: auto;
  }
}

#about, #who, #where, #signup, #questions, #about_us, #partners {
  @extend .col-xs-12;
  .justify {
    text-align: justify;
  }
  .title {
    text-align: center;
  }
}
.logo{
  height: 150px;
}
.partner_logo {
  display: block;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}


