<a href="www.greeters.pl"><img class="logo" src="/images/logo.png"></a>
<h2>Witaj!</h2><p> Jeśli znalazłeś/aś się na tej stronie, oznacza to, że zainteresowały Cię najbardziej

odlotowe gdańskie warsztaty :-) Żeby wziąć w nich udział, wystarczy, że masz skończone 

18 lat(lub skończysz je w tym roku kalendarzowym), chcesz nauczyć się czegoś nowego, 

doskonalić umiejętności, które już posiadasz, a także świetnie się bawić w towarzystwie 

ciekawych ludzi. Warsztaty realizowane będą w kilku blokach tematycznych:
</p>
<p>
4.04.

I. PRACA Z CIAŁEM I RUCHEM
</p>
<p>
5.04

II. ROZWÓJ OSOBISTY

III. ROZWÓJ KOMPETENCJI W RELACJACH
</p>
<p>
6.04

IV. METODY ORGANIZACJI PRACY ORAZ MOTYWACJE DO REALIZACJI PROJEKTÓW
</p>
<p>
Szczegóły dotyczące poszczególnych warsztatów w zakładce: Zapisy na warsztaty. 

Na każde zajęcia obowiązują osobne zgłoszenia, tak więc możesz wziąć udział tylko 

w wybranych przez siebie warsztatach. Podczas warsztatów korzystać będziemy 

z gościnności Politechniki Gdańskiej i Wydziału Nauk Społecznych Uniwersytetu 

Gdańskiego.
</p>
<p>
Udział w warsztatach jest całkowicie bezpłatny, uczestnikom zapewniamy obiad w sobotę 

oraz materiały programowe podczas zajęć. 

Aby wziąć udział w zajęciach wymagana jest rejestracja(link), o kwalifikacji na warsztaty 

decyduje kolejność zgłoszeń, przy czym pierwszeństwo mają członkowie projektu 

Greeters Polska, oraz osoby, które zgłosiły swoją chęć udziału w Projekcie na stronie 

www.greeters.pl Na zgłoszenia czekamy do 3.04!
</p>
