<div class="container-fluid">
  <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links" data-toggle="collapse" {{action 'collapse' '#nav-links' target='view'}}>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/images/logo.png"></a>
    </div>
  <div class="collapse navbar-collapse" id="nav-links">
      <ul class="nav navbar-nav">
        <li><a href="#start">Start</a></li>
        <li><a href="#about">O warsztatach</a></li>
        <li><a href="#who"}}>Dla kogo?</a></li>
        <li><a href="#where">Kiedy i gdzie?</a></li>
        <li><a href="#signup">Weź udział!</a></li>
        <li><a href="#questions">Masz pytania?</a></li>
        <li><a href="#about_us">O nas</a></li>
        <li><a href="#partners">Partnerzy</a></li>
      <ul>
  </div>
</div>