<hr class="fancy-line">
<h2 class="title">Partnerzy</h2>


<div class="row">
  <div class="col-md-4">
      <img class="partner_logo" src="/images/mwd.png">
  </div>
  <div class="col-md-4">
      <img class="partner_logo" src="/images/flavio.png">
  </div>
  <div class="col-md-4">
      <img class="partner_logo" src="/images/chgdanska.png">
  </div>
</div>