<hr class="fancy-line">
<h2>Partnerzy</h2>


<div>
  <div>
      <img src="/images/mwd.png">
  </div>
  <div>
      <img src="/images/flavio.png">
  </div>
  <div>
      <img src="/images/chgdanska.png">
  </div>
</div>