<hr class="fancy-line">
<h2 class="title">Kiedy i gdzie?</h2>

<p>

Warsztaty każdego dnia będą odbywały się w innym miejscu. Każde ma inny charakter i co innego do zaoferowania.
Spotykamy się:
  <ul>
    <li>4 kwietnia - Ośrodek Dom Harcerza, ul. Za Murami 2-10, Sala Konferencyjna</li>
    <li>5 kwietnia - Wydział Nauk Społecznych UG, ul. Bażyńskiego 4, sale A302 oraz A303</li>
    <li>6 kwietnia - Gmach Główny Politechniki Gdańskiej, ul. Gabriela Narutowicza 11/12, sala 300</li>
  </ul>
</p>