<hr class="fancy-line">
<h2 class="title">Dla kogo?</h2>

<p>

Wystarczy, że masz skończone 18 lat(lub skończysz je w tym roku kalendarzowym), chcesz nauczyć się czegoś nowego lub doskonalić umiejętności, 
które już posiadasz, a także świetnie się bawić w towarzystwie ciekawych ludzi. Musisz jedynie zapisać się na wybrany przez Ciebie warsztat.

Nie możesz wziąć udziału we wszytskich warsztatach? Nic straconego! Zapisy odbywają się na każdy warsztat oddzielnie, zatem możesz
wybrać odpowiedające Ci tematu, miejsca czy czas. Jednak pamietaj, że ilość miejsc jest ograniczona i obowiązuje kolejność zgłoszeń.

</p>